html {
  font-family: Helvetica,sans-serif;
}

.subtitle {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.pricing {
  color: blue;
  font-weight: bold;
}

#title {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

#brushestitle {
  background-color: mediumspringgreen;
}

#framestitle {
  background-color: lightcoral;
}

#painttitle {
  background-color: skyblue;
}
